$text-blue: hsl(238, 29%, 16%);
$text-red: hsl(14, 88%, 65%);
$text-very-dark-grayish-blue: hsl(237, 12%, 33%);
$text-dark-grayish-blue: hsl(240, 6%, 50%);
$background-violet: hsl(273, 75%, 66%);
$background-blue: hsl(240, 73%, 65%);
$divider: hsl(240, 5%, 91%);
$body-font-size: 12px;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-image: linear-gradient($background-violet, $background-blue);
  background-position: contain;;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  margin: auto auto;
  // height: 100vh;
  @media only screen and (max-width: 1000px){
     padding: 1.5rem 0;
  }
}

.container {
  margin: 0 auto;
  // width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.showcase {
  display: flex;
  max-width: 100rem;
  min-width: 0rem;
  height: 50rem;
  border-radius: 1rem;
  position: relative;
  background-color: white;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -52rem -28rem;

  @media only screen and (max-width: 1000px){
    display: block;
    margin: 0 auto;
    width: 30rem;
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-size: 22.5rem;
    background-position: 3rem 0rem;
  }
}

.illustration1 {
  position: absolute;
  top: 36%;
  left: -9rem;
  flex-grow: 1;
  z-index: 2;
  @media only screen and (max-width: 1000px){
    display: none;
   }
}

.illustration2 {
  overflow: hidden;
  flex-grow: 1;
  @media only screen and (max-width: 1000px){
    overflow: visible;
   }

  .image1 {
    position: relative;
    top: 9%;
    right: 20%;
    z-index: 1;

    @media only screen and (max-width: 1000px){
      display: none;
     }
  }
  .image2 {
    display: none;
    img {
      max-width: 25rem;
      width: 100%;
    }
    @media only screen and (max-width: 1000px){
      display: block;
      position: relative;
      top: -10rem;
      left: 0.5rem;
     }  
  }
}

.text-area {
  width: 50%;
  margin: 3rem 4rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 4em;

  @media only screen and (max-width: 1000px){
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
    height: 30rem;
    font-size: 0.8rem;
    position: relative;
    top: -6rem;
  }
  .header-text {
    margin-bottom: 1.2em;
    h1 {
      font-size: 3em;
      font-weight: 700;
      color: $text-blue;
      @media only screen and (max-width: 1000px){
        text-align: center;
      }
    }
  }
  
  .body-text {
    width: 350px;
    @media only screen and (max-width: 1000px){
      width: 100%;
      margin-top: 2rem;
    }
    .text {
      border-bottom: 2px solid $divider;
      line-height: 2em;
      padding-bottom: 1em;
      &[open] .main-text {
        font-size: 1.5em;
        color: $text-blue;
        font-weight: 700;
        &::after {
          transform: rotate(180deg);
        }
      }
    
      .main-text{
        font-size: 1.3em;
        position: relative;
        margin: 0.6em 0;
        font-weight: 700;
        padding-right: 4rem;
        outline: none;
        color: $text-dark-grayish-blue;
        cursor: pointer;
        &:hover {
          color: $text-red;
        }
        &::after {
          content: url(../images/icon-arrow-down.svg);
          position: absolute;
          right: 0;
          transition: all.2s;
        }
        &::-webkit-details-marker {
          display: none;}
      }
    
      .sub-text {
        color: $text-blue;
        font-weight: 400;
        line-height: 1em ;
        font-size: 1.15em;
        @media only screen and (max-width: 1000px){
          padding-right:2em;
          line-height: 1em ;
        }
        }
    }
  }
}
